vendor
node_modules
npm-debug.log
yarn-error.log

public/storage
public/hot
public/fonts/**
public/fonts/vendor/**
public/css/*
public/js/*
public/mix-manifest.json
storage/*.key
.env.*.php
.env.php
.env

Homestead.json
Homestead.yaml

/.idea
/.vagrant

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
