/vendor
/node_modules

/public/hot
/public/storage
/storage/*.key

/public/assets/**
/public/css/*
/public/js/*
/public/fonts/**
/public/images/**
/public/mix-manifest.json

npm-debug.log
yarn-error.log


.env.*.php
.env.php
.env
.fuse*

Homestead.json
Homestead.yaml

/.idea
/.vagrant

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
