
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic");
// FontAwesome
@import "~font-awesome/css/font-awesome.css";
// IonIcons
@import "~ionicons/dist/css/ionicons-core.css";
@import "~ionicons/dist/css/ionicons.css";
@import "~admin-lte/plugins/iCheck/square/blue.css";

// Variables
@import "variables-admin";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// AdminLTE
@import "~admin-lte/dist/css/AdminLTE.min.css";
@import "~admin-lte/dist/css/skins/skin-blue.min.css";

// Mixins
@import "mixins";

/**
 * Forms
 */

// Form Elements
form {
    label {
        // Add asterisks to required labels on forms
        &.required {
            &:after{ 
                content:'*'; 
                color: $color-red; 
                padding-left:5px;
                font-weight: bold;
            }
        }
    }
}


/**
 * Chart.js
 */

canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#chartjs-tooltip {
    opacity: 1;
    position: absolute;
    background: rgba(0, 0, 0, .7);
    color: white;
    border-radius: 3px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.chartjs-tooltip-key {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
